/* Import the sidebar styling */
@import url("sidebarPanel/adminSide.css");
/* Universal styling */
*
{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
/* Page styling */
body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("../img/testbg.jpg");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Navigation container */
.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 10px 15px;
    box-shadow: 0px 0px 10px #000;
    background-color: rgba(255,255,255,0.8);
}
/* Logo in Nav */
.nav .logo
{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Links in nav */
.nav .links ul
{
    display: flex;
    list-style: none;
}

.nav .links ul a
{
    margin-right: 3vh;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
    color: #000;
}

.nav .links ul a:hover
{
    color: goldenrod;
    transition: .2s ease-in;
}
/* Search bar in nav */
.nav .search
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

.nav .search input
{
    border-radius: 5px;
    margin-left: 5px;
    text-align: center;
    width: 30vh;
    height: 5vh;
}
/* Search Bar in Nav */

.search-bar {
    display: flex;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}
.search-bar select, .search-bar button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
.search-bar select {
    width: 200px;
}
.search-bar button {
    background-color: gold; /* Adjust this color for the search button */
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.search-bar button:hover {
    transition: .2s ease;
    background-color: goldenrod; /* Adjust hover color */
}

/* Account section in nav */
.nav .account
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

.nav .account p
{
    font-size: 20px;
    font-weight: bold;
    margin-left: 3vh;
}

/* Main Section */
.main
{
    height: 80vh;
    display: flex;
    justify-content: space-between;

}

/* Content section */
.content
{
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    padding: 2vh;
}
/* Stats section */
.stats
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    width: 90%;
    margin: auto;
}

.statCard
{
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 80%;
    box-shadow: 0px 0px 10px #000;
    margin: 0 10px;
    padding: 3vh 1vw;
    border-radius: 0.5cm;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
}

.statCard img
{
    height: 90%;
    width: 30%;
    align-content: center;
}

.statCard p
{
    font-weight: bold;
    font-size: larger;
}

.statCard h2
{
    margin-bottom: auto;
}

.cardInfo p
{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: goldenrod;
}

/* Content Bottom Section */
.bottom
{
    width: 90%;
    height: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 2vw;
}

.recentActivity
{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    height: 90%;
}

.recentActivityHeader
{
    display: flex;
    gap: 1vw;
    align-items: center;
    float: left;
    height: 5vh;
    margin: auto 0;
    padding: 10px 15px;
}

.recentActivityHeader h2
{
    font-size: xx-large;
}

.activityCard
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px #000;
    margin: 1vh;
    border-radius: 10px;
    height: 20%;
    background-color: rgba(255,255,255,0.8);
}

.activityInfo
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calendar
{
    width: 50%;
    padding: auto 3vw;
    
}
.calendarHeader{
    display: flex;
    gap: 1vw;
    align-items: center;
    float: left;
    height: 5vh;
    width: 100%;
    margin: auto 0;
    padding: 10px 15px;
}

.calendarHeader h2{
    font-size: xx-large;
}

/* Footer section */

.footer
{
    display: flex;
    align-items: center;
    min-height: 10vh;
    box-shadow: 0px 0px 10px #000;
    background-color: rgba(255,255,255,0.7);
}

.footer .socials img
{
    margin:0 1vw 0 1vw;
}

.footer .copyright
{
    margin-left: 30vw;
}

.footer .copyright span
{
    color: goldenrod;
    text-decoration: underline;
    font-weight: bold;
}