.top{
  height: 100vh;
}
.top h1{
  text-align: center;
  color:black;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  font-size: 3rem;
  margin: 30vh 0 0 0;
}

.btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10vh auto 0 auto;
  width: 30vw;
}

.packages{
  margin-top: 40px;
}

.packages h3 {
  text-align: center;
  color: black;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  font-size: 2rem;
}
