/* General Styling for the Form */
.Payment {
    width: 60%;
    margin: auto;
    font-family: Arial, sans-serif;
}

/* Styling for the Labels */
.GInfo label,
.PaymentStats label {
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

/* Styling the Input Fields */
.GInfo input,
.PaymentStats input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.GInfo input:focus,
.PaymentStats input:focus {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Payment Stats Section */
.PaymentStats {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align input fields to the right */
}

.PaymentStats label {
    align-self: flex-start; /* Align labels to the left */
    margin-bottom: 10px;
}

.PaymentStats input {
    width: 50%; /* Adjust width as needed */
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

/* Styling the Button */
.Button {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px; /* Add space between button and footer */
}

.Button button {
    padding: 10px 30px;  /* Make the button smaller */
    background-color: #e0e0e0;
    border: none;
    border-radius: 25px;
    font-size: 16px; /* Decrease font size */
    font-weight: bold;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.Button button:hover {
    background-color: #d4d4d4;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
