/* navigation styling */
.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 10px 15px;
    z-index: 10000;
    position: relative;
}

/* Logo in Nav */
.nav .logo
{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Links in nav */
.nav .links ul
{
    display: flex;
    list-style: none;
}

.nav .links ul a
{
    margin-right: 3vh;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.nav .links ul a:hover
{
    color: goldenrod;
    transition: .2s ease-in;
}
/* Search bar in nav */
.nav .search
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

.nav .search input
{
    border-radius: 5px;
    margin-left: 5px;
    text-align: center;
    width: 30vh;
    height: 5vh;
}

/* Account section in nav */
.nav .account
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

.nav .account p
{
    font-size: 20px;
    font-weight: bold;
    margin-left: 3vh;
    color: black;
}
.nav h1{
    color: crimson;

}

/* footer styling */
.footer
{
    display: flex;
    align-items: center;
    min-height: 10vh;
    box-shadow: 0px 0px 10px #000;
    background-color: rgba(255,255,255,0.7);
}

.footer .socials img
{
    margin:0 1vw 0 1vw;
}

.footer .copyright
{
    margin-left: 30vw;
}

.footer .copyright span
{
    color: goldenrod;
    text-decoration: underline;
    font-weight: bold;
 }

.packages{
    text-align: center;
    padding: 20px;
}
.packages h3{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}

.packages p{
    font-size: 20px;
    margin-bottom: 20px;
}
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap:20px;
   
}
.carousel-img{
    display: flex;
    gap: 20px;
}
.carousel img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
    display: flex;
}

.carousel img:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}



.holiday-type{
    
    padding: 50px 0;
    text-align:center;
}
.holiday-type h3{
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: bold;
}
.holiday-type p{
    font-size: 1.2em;
    margin-bottom: 30px;
    
}
.img-type{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    justify-items: center;
    padding: 0 5%;
}
.holiday-card{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
    transition: transform 0.3s ease-in-out;
    max-width:300px;
    text-align:center;
}
.holiday-card img{
    width: 130px;
    height: 200px;
    padding: 5px 2px 0 2px;
    object-fit: cover;
    border-bottom: 5px solid goldenrod;
    border-radius: 50px 50px 50px 50px;
}
.holiday-card p{
    font-size: 1.2em;
    padding:15px;
    color:#333;
    font-weight: bold;
}

.holiday-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.why-us{
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
}
.why-us h3{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
.whyUs-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
}
.whyUs-box p{
    background-color:#fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width:250px;
    height:150px;
    font-weight: bold;
}



