/* Style for Success Message */
.message_success {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin: 20px auto;
    width: 80%;
}

.message_success h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.message_success a p {
    color: #155724;
    font-weight: bold;
}

/* Style for Error Message */
.message_error {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin: 20px auto;
    width: 80%;
}

.message_error h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.message_error a p {
    color: #721c24;
    font-weight: bold;
}
